<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009221909036-pcjanv6erh3lld518lmh0g81el3h6deh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009221909036-pcjanv6erh3lld518lmh0g81el3h6deh</string>
	<key>API_KEY</key>
	<string>AIzaSyA83EVzS3sa4BBvYrwFX6lFJt7Oa5gAbO8</string>
	<key>GCM_SENDER_ID</key>
	<string>1009221909036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.foodallinone.foodallinone</string>
	<key>PROJECT_ID</key>
	<string>food-aio-resturant</string>
	<key>STORAGE_BUCKET</key>
	<string>food-aio-resturant.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009221909036:ios:9a6775190b32a32adc2f89</string>
	<key>DATABASE_URL</key>
	<string>https://food-aio-resturant.firebaseio.com</string>
</dict>
</plist>